.background-image {
    background-image: url('../img/banner.jpg'); 
    max-width: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-repeat: no-repeat;   
    background-size: 100% 100%;
    height: 500px;
    background-position: center center;
}


ul#listaInicio {
    padding: 10px; 
    text-align: right;
  }
  ul li#primeiraLista
  {
    
    display: inline-block; 
    margin-left: 150px;
  }
  title{
    margin-left: 50px;
  }
  div #botaoAgende{

    text-align: center;
    margin-top: 300px;
  }

  .container {
    display: flex; /* Torna a div um contêiner flexível */
}


  .logo {
    width: 25px; /* Define a largura do logotipo */
    height: auto; /* Mantém a proporção original da imagem */
    margin-right: 10px; /* Adiciona um espaço à direita do logotipo */
    
}
h3{
    text-align: center;
    margin-top: 40px;
}
.centro {
    width: 50%; /* Defina a largura desejada para a div */
    margin-left: auto;
    margin-right: auto;
    
}
.cor{
    background-color: rgb(226, 242, 253);
}

.div-banho, .div-tosa,.div-atendimento,.div-walk,.div-comida,.div-loja {
    display: inline-block;
    width: 33%; 
    box-sizing: border-box; 
    border: 1px solid #ccc; 
    padding: 20px;
    text-align: center;
    border-radius: 8px;
    margin-bottom: 7px;
    
}
.imagens
{
  border-radius: 4px;
  padding: 5px;
  width: 125px;
}